<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>teatrilo-js</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">

    <title>Hello, world!</title>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="teatrilo.js"></script>

<div id="app" class="container-fluid">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Error!</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" id="error_toast">
        </div>
    </div>
    <h3>{{ production.name }}</h3>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="rehearsal-tab" data-toggle="tab" href="#rehearsals" role="tab" aria-controls="home" aria-selected="true">{{tr('tab_rehearsals')}}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="production-tab" data-toggle="tab" href="#production" role="tab" aria-controls="production" aria-selected="false">{{tr('tab_production')}}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">{{tr('tab_settings')}}</a>
        </li>

    </ul>
    <div class="tab-content">
        <div id="rehearsals" class="tab-pane fade show active" id="rehearsals" role="tabpanel" aria-labelledby="rehearsal-tab">
            <h4>{{tr("rh_calendar_and_planning")}}</h4>
            <div class="col-lg-10">
                <rehearsal-matrix v-bind:matrix='rehearsalMatrix'
                                  v-on:save="saveRehearsal($event)"
                                  v-on:remove="removeRehearsal($event)"
                                  v-on:save-scene-rehearsal-state="saveSceneRehearsalState($event)"
                                  v-on:save-scene-rehearsal-duration="saveSceneRehearsalDuration($event)"></rehearsal-matrix>
                <button type="button" class="btn btn-secondary btn-sm create-rehearsal" v-on:click="createRehearsal()">
                    {{tr("rh_add_rehearsal")}}</button>
            </div>

            <h4>{{tr("rh_absentees")}}</h4>
            <div class="col-lg-6">
                <attendance-matrix v-bind:matrix='attendanceMatrix'
                                   v-on:toggle-absence="toggleAbsenceInRehearsal($event)"></attendance-matrix>
            </div>
        </div>
        <div id="production" class="tab-pane fade col-lg-6"  id="production" role="tabpanel" aria-labelledby="production-tab">
            <h4>{{tr("parts_header")}}</h4>
            <part-list v-bind:parts='production.parts'
                       v-on:save="savePart($event)"
                       v-on:remove="removePart($event)"
                       v-on:shift-up="shiftPartUp($event)"
                       v-on:shift-down="shiftPartDown($event)"></part-list>
            <button type="button" class="btn btn-secondary btn-sm create-part" v-on:click="createPart()">
                {{tr("parts_add_button")}}</button>

            <scene-list v-bind:scenes='production.scenes'
                        v-on:save="saveScene($event)"
                        v-on:shift-up="shiftSceneUp($event)"
                        v-on:shift-down="shiftSceneDown($event)"
                        v-on:remove="removeScene($event)"></scene-list>
            <button type="button" class="btn btn-secondary btn-sm create-scene" v-on:click="createScene()">
                {{tr('scenes_add_button')}}</button>

        </div>
        <div id="settings" class="tab-pane fade col-lg-6" id="settings" role="tabpanel" aria-labelledby="settings-tab">

            <h3>{{tr('settings_header')}}</h3>
            <form class="col-lg-6">
                <div class="form-group">
                    <label for="defaultRehearsalSpacing">{{tr('settings_language_field')}}</label>
                    <input type="radio" id="en" value="en" v-model="settings.language" v-on:click="updateSettings(settings)"><label for="en">English</label>
                    <input type="radio" id="nl" value="nl" v-model="settings.language" v-on:click="updateSettings(settings)"><label for="nl">Nederlands</label>
                    <small id="languageHelp" class="form-text text-muted">{{tr('settings_language_help')}}</small>
                </div>
                <div class="form-group">
                    <label for="defaultRehearsalDuration">{{tr('settings_rh_field')}}</label>
                    <input type="number" v-on:blur="updateSettings(settings)" v-model="settings.rehearsalDuration_edit" size="3" class="form-control" id="defaultRehearsalDuration" aria-describedby="rehearsalDurationHelp">
                    <small id="rehearsalDurationHelp" class="form-text text-muted">{{tr('settings_rh_help')}}</small>
                </div>
                <div class="form-group">
                    <label for="defaultRehearsalSpacing">{{tr('rh_spacing_field')}}</label>
                    <input type="number" v-on:blur="updateSettings(settings)" v-model="settings.rehearsalSpacing_edit" size="1" class="form-control" id="defaultRehearsalSpacing" aria-describedby="defaultRehearsalSpacingHelp">
                    <small id="defaultRehearsalSpacingHelp" class="form-text text-muted">{{tr('rh_spacing_help')}}</small>
                </div>
            </form>
        </div>
    </div>


</div>
<script type="module" src="main.js"></script>
</body>
</html>
