.isManual {
  background-color: cadetblue;
}

.hasAbsentees {
  background-color: coral;
}

.attendancePresent {
  background-color: white;
}

.attendanceAbsent {
  background-color: bisque;
}

body {
  margin-top: 0.5em;
  margin-left: 2em;
}

.tab-pane {
  margin-top: 3em;
}

.quiet {
  border: 0;
  border: none;
  box-shadow: none;
}

.arrowButtons {
  width: 30px;
  position: relative;
}

.attendanceMissing {
  background-color: coral;
}

.attendanceIdle {
  background-color: darkgray;
}

.create-part {
  float: right;
 /* background-image: url("create-part.svg");
  background-repeat: no-repeat;
  background-position: left;*/
}

.create-scene {
  float: right;
  /*background-image: url("create-part.svg");
  background-repeat: no-repeat;
  background-position: left;*/
}

.create-rehearsal {
  float: right;
 /* background-image: url("create-rehearsal.svg");
  background-repeat: no-repeat;
  background-position: left;*/
}


/*  ICONS */

.icon {
  background-repeat: no-repeat;
  background-color: white;
  border-width: 0;
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  margin: 0px
}

.arrow-up {
  position: absolute;
  top: 5px;
  left: 0px;
  background-image: url("arrow-up.svg");
  color: black;
}
.arrow-down {
  position: absolute;
  top: 28px;
  left: 4px;
  background-image: url("arrow-down.svg");
  color: black;
}
.trash {
  background-image: url("trash.svg");
  color: red;
}
.update-time {
  background-image: url("update-time.svg");
  color: red;
}
